{% extends 'layout.html' %}
{% load static %}


{% block body_block %}
<style>
  .card-purple:not(.card-outline)>.card-header {
    background-color: #7861a8;
}
</style>
<!-- Head ends here -->


<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo">
          <a href="#" class="text-center">
            <img src="{% static 'dist/img/logo.png' %}" alt="Zenixspace Logo">
          </a>
        </div>
        <p class="login-box-msg">An email has been sent to the provided email.If it does not occur after some time then please enter correct email id</p>



        <div class="row">
          <div class="col-12">
            <a href = "/login/" class = "btn btn-primary btn-block">Go to Login</a>
          </div>
          <!-- /.col -->
        </div>


    </div>
    <!-- /.login-card-body -->
  </div>
</div>



{% endblock %}
