{% extends "clinic/clinic_layout.html" %}
{%load static%}
{% block body_wraper_opner %}
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
{% endblock %}
{% block body_block %}
    <!-- Body starts here -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          {% if success %}

          <div class="alert alert-success" role="alert">
            {{ success }}
          </div>

          {% elif error %}

          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>

          {% endif %}
          <div class="row mb-1">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Assistant Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">assistant</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- /.content-header -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body box-profile">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="text-center">
                        <img class="profile-user-img img-circle img-fluid" src="{% static user_profile_pic %}" alt="">
                        <h5>{{ name }}</h5>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="row pt-4">
                        <div class="col-md-4">
                          <span><b>Name : </b>{{ name }}</span>
                        </div>
                        <div class="col-md-4">
                          <span><b>Email :</b> {{ email }} </span>
                        </div>
                        <div class="col-md-4">
                          <span><b>Phone : </b>{{ phone }}</span>
                        </div>
                        <div class="col-md-4">
                          <span><b>Joining Date :</b> {{ joining_date }} </span>
                        </div>
                      </div>
                      <div class="col-sm-4 float-sm-right">
                        <button type="button" class="btn btn-primary" data-target="#create-doctor" data-toggle="modal"><i class="fas fa-medkit"></i> &nbsp;Create New Doctor</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="create-doctor">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form method = "POST">
                    {% csrf_token %}
                    <div class="modal-header">
                      <h4 class="modal-title">Create Doctor</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form">
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label for="doctorFullName">Full Name</label>
                              <input type="text" name="full_name" class="form-control" id="doctorFullName" required placeholder="Doctor's Full Name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="doctorEmail">Email Id</label>
                              <input type="email" name="email" class="form-control" id="doctorEmail" required placeholder="Doctor's Email Id">
                            </div>
                            <div id = "doctorEmailError"></div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="doctorPhone">Phone Number</label>
                              <input type="tel" name="phone_no" class="form-control" id="doctorPhone" required placeholder="Doctor's Phone No.">
                            </div>
                          </div>

                          <input type = "hidden" name = "assistantName" value = "{{ name }}">
                          <input type = "hidden" name = "assistantEmail" id = "assistantEmail" value = "{{ email }}">

                          <div class = "col-12">

                            <div class = "form-group">
                              <label for = "assistantPassword">Enter <span style = "color:red;">{{ name }}'s</span> password</label>
                              <input type = "password" name = "password" class = "form-control" id = "assistantPassword" required placeholder = "Enter password">

                            </div>
                            <div id = "assistantPasswordError"></div>
                          </div>


                        </div>
                      </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <input type="submit" name = "create_doctor" id = "createDoctor" class="btn btn-primary" value = "create_doctor">
                    </div>
                  </form>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- Body ends here -->


            <div class="col-12">
              <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                  <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="true">Edit</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content" id="custom-tabs-one-tabContent">
                    <div class="tab-pane fade" id="custom-tabs-one-profile show active" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab" style="display: contents!important;">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="offset-md-3 col-md-6 mb-3">
                                    <input type="text" name="full_name" value="{{ name }}" class="form-control" placeholder="Full Name">
                                </div>
                                <div class="offset-md-3 col-md-6 mb-3">
                                    <input type="text" name="phone" value="{{ phone }}" class="form-control" placeholder="Phone">
                                </div>
                                <div class="offset-md-3 col-md-6 mb-3">
                                    <input type="text" name="password" placeholder="Update Password" class="form-control">
                                </div>
                                <div class="offset-md-3 col-md-6">
                                    <div><input type="submit" name = "Update" value="Update"> <input type="submit" name="Deactivate" value="{{ act_btn }}"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer starts here -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2020 <a href="http://ideatebox.com">Ideatebox</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.4
      </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
{% endblock %}
{% block body_wraper_closer %}
    </div>
{% endblock %}
{% block jswraper %}
<script>
//$('#createDoctor').prop('disabled',true);
//window.alert(($("#doctorEmailError").html()).length);
//console.log(($("#assistantPasswordError").html()).length);
//if(($("#assistantPasswordError").html()).length == 0 && ($("#doctorEmailError").html()).length == 0){
//$('#createDoctor').prop('disabled',false);
//}

$('#assistantPassword').blur(function(){
  var password = $(this).val();
  var email = $("#assistantEmail").val();

  $.ajax({
    url : "{% url 'validate_password' %}",
    dataType: 'json',
    data : {
      'password' : password,
      'receptionistEmail' : email
    },
    success : function(data){
      if(data.not_valid){
        $("#assistantPasswordError").empty();
        $("#assistantPasswordError").append("<small style = 'color:red;'>"+data['not_valid']+"</small>");
        $("#assistantPassword").focus();
      }
      else{
        $("#assistantPasswordError").empty();
      }
    }
  });
});

$('#doctorEmail').blur(function(){
  var email = $(this).val();

  $.ajax({
    url : '{% url "validate_username" %}',
    dataType : 'json',
    data : {
      'username' : email
    },

    success : function(data){
      if(data.is_taken){
      $("#doctorEmailError").empty();
      $("#doctorEmailError").append("<small style = 'color:red;'>Email already exist</small");
      $("#doctorEmail").focus();
    }
    else{
      $("#doctorEmailError").empty();
    }
    }
  });
});
</script>
{% endblock %}
